<div class= "container">
  <div class="container">
		<button>Reload config</button>		
  </div>
  <hr/>
  <div class="container">
	<textarea class= "uneditable-textarea" rows= "30" cols= "130">
	  $config
	</textarea>
  </div>
</div>


