<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	<meta charset="utf-8">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/docs.css" rel="stylesheet">
	<script type="text/javascript" src="script/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="script/jquery.ba-bbq.min.js"></script>
	<script type="text/javascript" src="script/metaq.js"></script>
</script>
<title>Metamorphosis admin 1.4.5</title>
</head>
<body>
  <div class="container-fluid">
	<div class="row-fluid">
	  <div class="span3 bs-docs-sidebar">
		<ul class="nav nav-list bs-docs-sidenav">
		  <li><a href="#dashboard"><i class="icon-chevron-right"></i>Dashboard</a></li>
		  <li><a href="#logging"><i class="icon-chevron-right"></i>Logging</a></li>
		  <li><a href="#java-properties"><i class="icon-chevron-right"></i>Java properties</a></li>
		  <li><a href="#thread-dump"><i class="icon-chevron-right"></i>Thread Dump</a></li>
		  <li><a href="#config"><i class="icon-chevron-right"></i>Broker config</a></li>
		  <li class= "nav-header"><a href="#topic-list"><i class="icon-chevron-right"></i>Topic list</a> 		  </li>
			<ul class="nav nav-list">
			  #foreach ($topic in $topics)
			  <li><a href="#topic/$topic"><i class="icon-chevron-right"></i>$topic</a></li>
              #end
			</ul>

        </ul>
	  </div>
	  <div class="span9 mini-layout" id="main-content">
		
		<!--Body content-->
	  </div>
	</div>
  </div>
</body>
</html>
